*{
    padding:0;
    margin:0;
}

@font-face{
    font-family: myriad_regular;
    src: url(../../fonts/MYRIADPRO-REGULAR.OTF);
}

@font-face{
    font-family: myriad_light;
    src: url(../../fonts/MYRIADPRO-LIGHT_0.OTF);
}
@font-face{
    font-family: myriad_black;
    src: url(../../fonts/MYRIADPRO-BLACK_0.OTF);
}

$gap: 1rem;

html, body{
    font-size: 62.5%;
    max-width: 100%;
    margin:0 auto;
    font-family: font-family(primary);
    overflow-x: hidden;
}
.container{
    width: calc(100% - 10rem);
    max-width: 80rem;
    margin:0 auto;
}
.row{
    display: inline-flex;
    flex-wrap: wrap;
    column-gap: $gap;
    &--between{
        justify-content: space-between;
    }
    &--center{
        justify-content: center;
    }
}

$columns: 12;
@for $i from 1 through $columns {
    .col-#{$i}{
        flex: 0 0 calc((100% / #{$columns} * #{$i}) - #{$gap});   
    }
    .col-offset-#{$i}{
        margin-left: 100% / $columns * $i ;
    }
}