*{
    padding:0;
    margin:0;
}

@font-face{
    font-family: myriad_regular;
    src: url(../../fonts/MYRIADPRO-REGULAR.OTF);
}

@font-face{
    font-family: myriad_light;
    src: url(../../fonts/MYRIADPRO-LIGHT_0.OTF);
}
@font-face{
    font-family: myriad_black;
    src: url(../../fonts/MYRIADPRO-BLACK_0.OTF);
}


html, body{
    font-size: 62.5%;
    max-width: 100%;
    margin:0 auto;
    font-family: font-family(primary);
    overflow-x: hidden;
}
.container{
    width: 120rem;
    margin:0 auto;
}
