header.header {
    max-width: 100%;
    height: 73.7rem;
    background-image: url(../../images/header.png);
    background-size: cover;
    position: relative;
    overflow: hidden;



    @include response(md) {
        max-width: 100%;
        height: 50rem;
        background-position: center;
        margin: 0 .5rem;
    }

    & .block-heading {
        color: color(primary);
        width: 75.1rem;
        max-height: 22.3rem;
        @include positionAsoluteBL(20.2, 24.5);

        @include response(md) {
            max-width: 40rem;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }

        &__title {
            font-family: dmserif;
            font-size: 5.6rem;
            width: 54.8rem;
            line-height: 100%;
            font-weight: 400;

            @include response(md) {
                font-size: 2rem;
                max-width: 50%;
                margin: 0 auto;
                text-align: center;
            }
        }


        &__description {
            font-size: 1.8rem;
            list-style: 2.7rem;
            font-family: font-family(secondary);
            margin-top: 3rem;
            text-align: justify;

            @include response(md) {
                font-size: 1.4rem;
                text-align: center;
            }

        }

        a {
            @extend %btn, 
            %btn--primary;
            text-align: center;
            margin: 1rem auto;
            max-width: 10rem;
        }
    }
}

.nav {
    padding: 2.2rem 0;
    width: 100%;
    background-color: rgba(196, 196, 196, 0.1);

    @include response(md) {
        width: 100%;
    }

    & .block {

        @include flexPosition(space-between);

        @include response(l) {
            @include flexPosition(space-between);
        }

        ;

        @include response(md) {
            @include flexPosition(center, center, column);
            width: 100%;
            text-align: center;
        }

        ;
    }

    &__logo {
        text-decoration: none;
        font-size: 2.2rem;
        font-family: font-family(primary);
        color: color(black);

        @include response(md) {
            flex: 1;
            text-align: center;
            width: 100%;
            display: block;
        }

        & span {
            display: inline-block;
            width: 7.2rem;
            height: 7.2rem;
            border-radius: 50%;
            text-align: center;
            line-height: 7.2rem;
            text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
            text-transform: uppercase;
            font-size: 2rem;
            font-family: rammet;
            color: color(white);
            background-color: color(gray);
            margin-right: 1.9rem;
        }



    }

    & .list-nav {
        list-style: none;
        @include flexPosition();
        flex: 1;

        @include response(md) {

            @include flexPosition(center, center, column);
            position: fixed;
            right: 100%;
            top: 0;
            width: 50%;
            height: 100%;
            opacity: 0;
            visibility: hidden;
            background-color: color(white);
        }

        &__item {
            margin-right: 5.8rem;

            @include response(md) {
                margin-right: 0;
                margin: 1rem 0;
            }

            a {
                text-decoration: none;
                font-size: 1.8rem;
                color: color(secondary);
                font-family: font-family(secondary);

            }
        }

        &__btn {
            @extend %btn,
            %btn--primary;
            margin-right: 0;
            padding: 1rem 2rem;
        }

    }
}